.przycisk {
    background-color: #04AA6D;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    width: 50%;
    margin: 15px auto;
    padding: 10px 0;
    display: block;
    border-radius: 15px;
    transition: 0.1s transform ease-in;
	min-height: 25px;
}

.przycisk:hover {
    transform: translateY(-2.5px);
}

.przycisk:hover {
    background-color: #00c77e;
}

.przycisk:active {
    background-color: #029660;
}

textarea {
    background-color: #aaaaaa;
    border-radius: 15px;
    padding: 15px;
    max-width: 80%;
    font-size: 1.25em;
	outline: none;
}

html, body {
    color: #ffffff;
    width: 100%;
    height: 100%;
    margin: 0;
	overflow: hidden;
}

body {
    background: linear-gradient(180deg, #57546e, #7466f2);
    font-family: "Inter", "Sans-serif";
}

.linkBox {
    background-color: #2C2E43;
    width: 25%;
    margin: 2.5%;
    text-align: center;
    padding: 15px 0;
    float: left;
    border-radius: 20px;
	box-shadow: 0px 0px 15px #1c1d2b;
	font-size: 15px;
}

.generator {
    background-color: #2C2E43;
    width: 35%;
    margin: 2.5% auto;
    text-align: center;
    padding: 15px 0;
    font-size: 1.17em;
    border-radius: 20px;
	box-shadow: 0px 0px 25px #1c1d2b;
}

a {
    text-decoration: none;
}