.przycisk {
    background-color: #04AA6D;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    width: 50%;
    margin: 15px auto;
    padding: 10px 0;
    display: block;
}

html, body {
    color: #ffffff;
    background-color: #595260;
    width: 100%;
    height: 100%;
    margin: 0%;
    overflow: hidden;
}

.linkBox {
    background-color: #2C2E43;
    width: 20%;
    margin: 2.5%;
    text-align: center;
    padding: 15px 0;
    float: left;
}

.generator {
    background-color: #2C2E43;
    width: 35%;
    margin: 2.5% auto;
    float: left; /* DON'T TOUCH IT */
    text-align: center;
    padding: 15px 0;
    font-size: 1.17em;
}